<%= stylesheet_link_tag "settings", plugin: "redmine_kroki" %>
<div class="kroki-desc">
  <p>Configure your Kroki endpoint below if you have a different Kroki server
    than default installation.</p>
</div>
<fieldset class="kroki-fieldset">
  <legend class="kroki-legend">Kroki Server</legend>
  <span class="kroki-textfield">
    <%= label_tag :settings_kroki_endpoint, "Endpoint:" %>
    <%= text_field_tag "settings[kroki_endpoint]",
    @settings["kroki_endpoint"],
    size: 100 %>
  </span>
</fieldset>
