<%= stylesheet_link_tag "settings", plugin: "redmine_kroki" %>
<div class="kroki-desc">
  <p>
    Configure your Kroki server URL below if you are not using the default
    installation.
  </p>
</div>
<fieldset class="kroki-fieldset">
  <legend class="kroki-legend">Kroki Server</legend>
  <span class="kroki-textfield">
    <%= label_tag :settings_kroki_url, "URL:" %>
    <%= text_field_tag "settings[kroki_url]",
    @settings["kroki_url"],
    size: 100 %>
  </span>
</fieldset>
