.kroki {
  display: block;
  overflow: visible;
}

.kroki svg {
  max-width: 100%;
}

.kroki.resized svg {
  height: 100%;
}

.kroki svg .label {
  font-size: 15px;
}

.kroki svg text {
  font-size: revert-layer;
}

.kroki svg[xmlns\:inkspace] text {
  transform: translateY(-3px);
}

/* NOTE: White dropshadows are weird */
.kroki.dark svg path[filter*="url(#shadowBlur)"],
.kroki.dark svg rect[style*="filter:url(#filter_blur)"] {
  display: none;
}

.kroki.dark svg {
  filter: invert(1) hue-rotate(180deg);
}

/* Mermaid */
/* NOTE: Bold text is truncated in graph labels */
.kroki .flowchart-label .cluster-label foreignObject,
.kroki .flowchart-label .label foreignObject {
  overflow: visible;
}
