.kroki {
  display: block;
  overflow: visible;
}

.kroki svg {
  width: 100%;
}

.kroki.resized svg {
  height: 100%;
}

.kroki svg .label {
  font-size: 15px;
}

.kroki svg text {
  font-size: revert-layer;
}

.kroki svg[xmlns\:inkspace] text {
  transform: translateY(-3px);
}

.kroki.dark svg {
  filter: invert(1) hue-rotate(180deg);
}
