.kroki-fieldset {
  margin-bottom: 1em;
  padding: 1em 2em;
}

.kroki-fieldset:last-of-type {
  margin-bottom: 0;
}

.kroki-legend {
  margin-left: 1em;
  padding: 0 1em !important;
}

.kroki-checkbox {
  display: flex;
  justify-content: left;
}

.kroki-textfield {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.kroki-textfield input {
  width: 100%;
}

.kroki-checkbox label {
  margin-right: 1.3em !important;
}

.kroki-textfield label {
  margin-right: 1em !important;
}

.tabular label {
  text-align: left;
}

.tabular.settings label {
  margin-left: unset;
  width: unset;
}

.kroki-desc p {
  padding-left: 0 !important;
  margin: 0.5em 1em 0 1em;
}
